/* navbar styles here  */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.nav-container{
	box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.137);
}
.nav-main{
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;

	max-width: 1000px;
}
.nav-left{
	display: flex;
	align-items: center;
	font-size: 40px;
}
.nav-right{

}
.nav-btn{
	background-color: transparent;
	border: none  ;
	font-size: 18px;
	margin-right: 15px;
}
.nav-btn-follow{
	background-color: rgba(11, 2, 35, 0.1);
	padding: 7px 15px;
	border-radius: 7px;
}