@media screen and (max-width: 425px) {

	/* nav main responsive styles here  */
	.nav-main{
		flex-direction: column;
	}
	.nav-right{
		flex-direction: column;
	}
	.nav-right button{
		margin-top: 10px;
	}
	.nav-container{
		box-shadow: none;
	}

	/* header related styles here  */
	.header-main{
		flex-direction: column-reverse;
	}
	.goat-overlay{
		 /* top: 13%;  position percentage usage better */
	}
	.header-left, .header-right{
		width: 80%;
	}

	/* online main styles here  */
	.online-main{
		grid-template-areas: 
		"a"
		"b"
		"c"
		"d"
		;
		width: 80%;
		margin: 50px auto 0px;
	}
	/* play main container styles here  */
	.play-main{
		flex-direction: column;
		width: 70%;
	}
	.play-left{
		width: 100%;
	}
	.play-right{
		width: 100%;
	}
	.play-right .beral{
		width: 100px;
		height: 120px;
	}

	/* category container styles here  */
	.category-child{
		/* min-width: 100px; */
		font-size: 10px;
	}
	.category-child img{
		width: 30px;
	}

}